.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 75vmin;
    width: 75vmin;
    margin: auto;
    position: fixed;
}

.box {
    border: 7.5px solid;
    margin-bottom: -7.5px;
    margin-right: -7.5px;
    /* padding: 1px; */
    font-size: 30px;;
}

h1 {
    text-align: center;
}